<div class="container">
<h4 class="text-center", style="background-color:#eee; width:150px; margin:50px 115px;">商品一覧</h4>

<%= link_to new_admin_item_path, style:"margin-left:900px; font-size: 30px;" do %><i class="fas fa-plus-circle"></i><% end %>

<div class="row">
  <div class="col-12">
    <table class='table table-hover table-inverse', style="width:950px; margin: 0 auto; border-top:1px solid #bbb;">
      <thead>
        <tr style="background-color:#eee;">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td class="align-middle", style="text-decoration:underline">
          <%= link_to admin_item_path(item.id), class:"text-dark" do %><% item.name %><% end %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td class="text-success font-weight-bold">
          <% if item.is_active == true %>
            販売中
					<% else %>
					  販売停止中
					<% end %>
				</td>
      </tr>
    <% end %>
    </tbody>
    </table>
		<%= paginate @items %>
		</div>
	</div>
</div>