<div class="row">
  <h2>商品新規登録</h2>
  <%= form_with model: @item, do |f| %>
    <!-- エラーメッセージ表示-->
    <!-- エラーメッセージ表示 end-->
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :商品画像 %>
        <%= f.imag_fiald :image_id, accept: "image/*" %>
      </div>
      <div class="form-group">
        <%= f.label :商品名 %>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.label :商品説明 %>
        <%= f.text_area :introduction %>
      </div>
      <div class="form-group">
        <%= f.label :ジャンル %>
        <%= f.collection_select(:genre_id, Genre.where(is_enabled: true), :id, :name, prompt: "選択してください") %>
      </div>
      <div class="form-group">
        <%= f.label :税抜価格 %>
        <%= f.text_field :price %>
      </div>
      <div class="form-group">
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "販売中" %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "売切れ" %>
      </div>
      <div class="actions row">
        <%= f.hidden_field :id, :value => @item.id %>
        <%= f.submit "新規登録",class:"btn btn-primary col-xs-12" %>
      </div>
    </div>
    <% end %>
</div>