<div class="container">
  <div class="row">
    <h4 class="text-center", style="background-color:#eee; width:120px; margin:30px 0 30px 115px;">商品詳細</h2>
  </div>

  <div class="row mt-5">
    <%= image_tag @item.image_id, size: "250x190" %>
    <div class="col-8 m-auto">
      <div class="col-10">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td width="140px">商品名</td>
              <td width="300px"><%= @item.name %></td>
            </tr>

            <tr>
              <td >商品説明</td>
              <td><%= @item.introduction %></td>
            </tr>

          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>

          <tr>
            <td>税込価格<br>(税抜価格)</td>
            <td>
              <%= (@item.price * 1.1).floor %>(<%= (@item.price) %>)円
            </td>
          </tr>

          <tr>
            <td>販売ステータス</td>
            <td class="text-success font-weight-bold">
              <% if @item.is_active == true %>
              販売中
              <% else %>
	            売切れ
	            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集する", edit_admin_item_path(@item), class:"w-25 btn btn-success", style:"font-weight:bold; padding:5px 20px; margin:20px 20px 0 120px;" %>
    </div>
  </div>
  </div>
</div>
