<div class=“row”>
	<h2>会員一覧</h2>

	<table class="table">
	    <thead>
			<tr>
				<th>会員ID</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>ステータス</th>
			</tr>
		</thead>

		<tbody>
			<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %></td>
					<td style>
						<%= link_to customer.last_name_kana, admins_client_path(client.id)%>
						<%= link_to customer.first_name_kana, admins_client_path(client.id) %>
					</td>
	  				<td> <%= customer.email %></td>
					<td><% if customer.deleted_at == nil %>
					        有効
					    <% else %>
					        退会
					    <% end %>
					</td>
				</tr>
			<% end %>
			<!-- kaminariのgemを使用するための記述 -->
			<%= paginate @clients %>
		</tbody>
	</table>
</div>