<div class='container'>
		<h4 class="text-center", style="background-color:#eee; width:120px; margin:20px "><b>会員一覧</b></h4>
		<div class="row">
			<div class="col-12">
					<table class="table table-border", style="width:950px; margin: 0 auto; border-top:1px solid #bbb;">
						<thead>
							<tr style="background-color:#eee">
								<th>会員ID</th>
								<th>氏名</th>
								<th>メールアドレス</th>
								<th>ステータス</th>
							</tr>
						</thead>
						<tbody>
							<% @customers.each do |customer| %>
							<tr>
								<td><%= customer.id %></td>
								<td style>
									<%= link_to admin_customer_path(customer.id), style: "color: #000; text-decoration: underline;" do %>
									<%= customer.last_name %><%= customer.first_name %>
									<% end %>
								</td>
							  <td> <%= customer.email %></td>
							  <td class="text-success font-weight-bold">
							  	<% if customer.is_deleted == false %>
                  有効
                  <% else %>
                  退会
                  <% end %>
                </td>
              </tr>
              <% end %>
            <!-- kaminariのgemを使用するための記述 -->
            <%= paginate @customers %>
            </tbody>
          </table>
      </div>
    </div>
</div>