<div class = "container">
  <div class=“row”>
    <div class="col-md-8">
      <h4 class="my-4 text-center", style="background-color: #eee; width:290px; padding-left: 12px;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="col">会員ID</th>
            <td style>
              <%= @customer.id %>
            </td>
          </tr>
          
          <tr>
            <th scope="col">氏名</th>
            <td style><%= @customer.last_name %>&ensp;<%= @customer.first_name %></td>
          </tr>
          
          <tr>
            <th scope="col">カナ</th>
            <td style><%= @customer.last_name_kana %>&ensp;<%= @customer.last_name_kana %></td>
          </tr>
          
          <tr>
            <th scope="col">郵便番号</th>
            <td style><%= @customer.postal_code %></td>
          </tr>
          
          <tr>
            <th scope="col">住所</th>
            <td style><%= @customer.address %></td>
          </tr>
          
          <tr>
            <th scope="col">電話番号</th>
            <td style><%= @customer.telephone_number %></td>
          </tr>
          
          <tr>
            <th scope="col">メールアドレス</th>
            <td style><%= @customer.email %></td>
          </tr>
          
          <tr>
            <th scope="col">会員ステータス</th>
            <td style>
              <% if @customer.is_deleted == false %>
                有効
              <% else %>
                退会
              <% end %>
            </td>
          </tr>
          
        </tbody>
      </table>
      
      <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-primary", style:"font-weight:bold; padding:5px 20px; margin:20px 20px 0 120px;" %>
      <%= link_to "注文履歴一覧を見る", admin_order_path, class:"btn btn-success", style:"font-weight:bold; padding:5px 20px; margin:20px 20px 0 120px;" %>
    </div>
  </div>
</div>