<div class="container">
    <h5 class="text-center", style="background-color:#eee; width:200px; margin:30px 0 40px 70px;">ジャンル一覧・追加</h5>
    <%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>
    <div class="form-group">
      <%= f.label :ジャンル名, style:"margin-top:5px ;" %>
      <%= f.text_field :name, placeholder: "ジャンル名", style:"margin-left:50px;" %>
      <%= f.submit "新規登録",class: "btn btn-success px-4", style:"font-weight:bold; margin-left:50px;" %>
    </div>
    
      <table class="table border-bottom", style="width:320px; margin-top:60px;">
        <thead>
          <tr style="background-color:#eee;">
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success px-3", style:"font-weight:bold; margin-left:50px;" %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    <% end %>
</div>