<div class="container mt-5">
  <div class="row">
    <div class="p-1 mb-1 bg-light text-dark">
      <h5 class=".col-lg-8 font-weight-bold">配送先登録/一覧</h5>
    </div>
  </div>

		<%= form_for @address, :url => {:action => :create} do |f| %>

		<div class="row mb-1">
      <p class=".col-lg-8">郵便番号(ハイフンなし)</p>
      <label for="exampleFormControlInput1"><%= f.text_field :postal_code, id: "postal_code" %></label>
    </div>

    <div class="row mb-1">
      <p class=".col-lg-8">住所</p>
       <label for="exampleFormControlInput1"><%= f.text_field :address, id: "address" %></label>
    </div>

    <div class="row mb-1">
      <p class=".col-lg-8">宛名</p>
      <label for="exampleFormControlInput1"><%= f.text_field :name, id: "" %></label>


       <p class=".col-lg-8">
         <%= f.submit '新規登録', class: "btn btn-sm btn-success" %>
        </p>
     </div>
     <% end %>

		<table class="table table-bordered address-table">
			<thead>
				<tr class="table-head" style="background-color:#F5F5F5;">
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th>&nbsp;</th>
					<th></th>
				</tr>
			</thead>

		  <tbody>
	      <% @addresses.each do |address|  %>
			    <tr>
				    <td><%= address.postal_code %></td>
				    <td><%= address.address %></td>
					  <td><%= address.name %></td>
					  <td><%= link_to "編集する", edit_public_address_path(address.id),class: "btn btn-sm btn-success" %></td>
					  <td><%= link_to "削除する", public_address_path(address.id),  class: "btn btn-sm btn-danger", method: :delete %></td>
				  </tr>
			  <% end %>
		  </tbody>
		</table>
	</div>
</div>