<div>
  <div class = "ml-auto mr-auto mt-5" style = "width:800px; height:34px;">
    <h5 style = "display:inline-block; padding-left:10px; padding-right:10px; background-color:#eee; font-weight:bold;">ショッピングカート</h5>
		<%= link_to public_cart_items_destroy_all_path, method: :delete, class: "btn btn-danger destroy-all", style:"display:inline-block; float:right;" do %><b>カートを空にする</b><% end %>
	</div>
	<div>
    <table class = "table mt-5 table-bordered border-dark ml-auto mr-auto", style = "border-width:3px; width:900px;" >
      <thead>
        <tr style = "background-color:#eee;">
          <td class = "border-dark", style = "width:40%">商品名</td>
          <td class = "border-dark", style = "width:15%">単価（税込）</td>
          <td class = "border-dark", style = "width:15%">数量</td>
          <td class = "border-dark", style = "width:15%">小計</td>
          <td class = "border-dark", style = "width:15%"></td>
        </tr>
      </thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
				<tr>
					<td><%= cart_item.item.name %></td>
					<td><%= (cart_item.item.price * 1.1).to_i %></td>
					<td>
						<%= form_with model: cart_item, url: public_cart_item_path(id: cart_item.id), method: :patch, local: true do |f| %>
							<%= f.number_field :amount, min: 1, max: 100 %>
							<%= f.submit "変更" %>
						<% end %>
					</td>
					<td><%= (Item.find(cart_item.item_id).price * 1.1 * cart_item.amount).to_i  %></td>
					<td><%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger"  %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table table-bordere">
			<tr>
				<th>合計金額</th>
				<td><%= @sum %></td>
			</tr>
		</table>
	</div>
	<%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
	<%= link_to "情報入力に進む",new_public_order_path , class: "btn btn-success go-to-order" %>
</div>